@model LoginViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h1>Giriş Sayfası</h1>
    <br />
    <br />
    <form method="post">
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Şifreniz</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
    </form>
</div>