﻿
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>
    <!--header-->
    @await Component.InvokeAsync("_NavbarPartial")
    <!--/header-->
    <!-- Domain Modal -->
    @await Component.InvokeAsync("_DomainPartial")

    <!-- iphone home block -->
    @await Component.InvokeAsync("_AboutPartial")

    <!-- footers 20 -->
    @await Component.InvokeAsync("_FooterPartial")

    <!-- move top -->
    @await Component.InvokeAsync("_ScriptPartial")

</body>

</html>