
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 style="color:darkcyan">Hoşgeldin Admin</h1>
    <p>Bu sayfa admin paneline yönlendirmek için tasarlanmıştır.</p>
