<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>Şehrinizdeki En İyi Pizzayı Yapıyoruz!!</h3>
                <h5 class="mt-lg-3 mt-2">
                    Napolili fırıncılar 250 yıl önce, ince hamurun üzerine birtakım malzemeler ekleyerek fakir insanlar için basit yemekler pişiriyorlardı. Evet bu yemek PİZZAydı.
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    İtalya’da hamur üzerine domates ve peynir konarak doğan pizza, ilk dönemlerinde aslında bir yoksul yemeğiydi. Günümüzde ise amacından çoktan sapmış, genelde kutlama yemeği haline bile gelmiştir. Binbir çeşit peynir, baharat, sebze, et, tavuk hatta kavurma ve pastırmalar ile hazırlanmakta ve büyük bir çoğunluğumuz bu lezzete asla hayır diyememektedir.
                </p>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="/pizzapan-starter/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">Doğal malzemelerle pişmiş doğru yemek</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="/pizzapan-starter/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">Doğal en kaliteli ürünlerin kullanımı</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="/pizzapan-starter/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> Dünyanın en iyi Şefi ve Beslenme Uzmanı!</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="/pizzapan-starter/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">Kapınıza en hızlı teslimat</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
