@model Pizzapan.EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Product Ekleme Sayfası</h1>
<br />
<form method="post">
    <label>Ürün Adı</label>
    <input asp-for="Name" type="text" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Ürün Açıklaması</label>
    <input asp-for="Description" type="text" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Ürün Fiyatı</label>
    <input asp-for="Price" type="number" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Kategori Id</label>
    <input asp-for="CategoryID" type="text" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <button class="btn btn-info">Ürün Ekle</button>
</form>
