﻿
@model Contact


@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Yunus Emre Hardal</title>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/alexander-starter/assets/css/style-starter.css">
</head>
<body>
    <!-- header -->
    <div class="w3l-top-header">
        <header id="site-header" class="fixed-top" style="background-color:orangered">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <a class="navbar-brand" href="/Default/Index">
                        <span class="fa fa-pie-chart"></span> Pizza pan
                    </a>
                    <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item index-active">
                                <a class="nav-link" href="/Default/Index">Ana Sayfa <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item services-active">
                                <a class="nav-link effect-3" href="/About/Index">Hakkımızda</a>
                            </li>
                            <li class="nav-item services-active">
                                <a class="nav-link effect-3" href="/Menu/Index">Menu</a>
                            </li>
                            <li class="nav-item contact-active">
                                <a class="nav-link effect-3" href="/Contact/GetContact">İletişim</a>
                            </li>
                            <li class="px-4 fill-none">
                                <a href="/Login/Index" class="btn btn-style btn-secondary">Admin Paneli</a>
                            </li>
                        </ul>
                        <div class="popup">
                            <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
                                <div class="hamburger1">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <!-- //header -->
    <!-- contact breadcrumb -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-2">
                <h2 class="title">Bize Ulaşın</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Portfolio/Index">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Bize Ulaşın </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- contact breadcrumb -->
    <!-- contact block -->
    <!-- contact1 -->
    <section class="w3l-contact-1 py-5">
        <div class="contacts-9 py-lg-5 py-md-4">
            <div class="container">
                <div class="d-grid contact-view">
                    <div class="cont-details">
                        <div class="cont-top">
                            <div class="cont-left text-center">
                                <span class="fa fa-phone text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Telefon</h6>
                                <p>+90 312 782 57 12</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-envelope-o text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Email</h6>
                                <p>pizzapan@gmail.com</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-map-marker text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Location</h6>
                                <p>Bilkent - Ankara</p>
                            </div>
                        </div>
                    </div>
                    <div class="map-content-9">
                        <form method="post">
                            <div class="twice-two">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Adınız"
                                       required="">
                                <input type="email" class="form-control" asp-for="Email" placeholder="Email"
                                       required="">
                            </div>
                            <div class="twice">
                                <input type="text" class="form-control" asp-for="Subject" placeholder="Konu" required="">
                            </div>
                            <textarea type="text" rows="5" class="form-control" asp-for="Message" placeholder="Mesaj" ></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Mesajı Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /contact1 -->
    
    <div class="map-iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12246.25504338019!2d32.7586069!3d39.8840085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347ac1178db1d%3A0xe8b188e5b5346c38!2sBilkent%20Center!5e0!3m2!1str!2str!4v1689926318897!5m2!1str!2str" width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
    </div>
    <!-- //contact block -->
    <!-- Footer -->
    <section class="w3l-footer py-sm-5 py-4">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-lg-8 footer-left">
                        <p class="m-0">Alexander © Copyright 2020. Design by <a href="https://w3layouts.com">W3layouts</a></p>
                    </div>
                    <div class="col-lg-4 footer-right text-lg-right text-center mt-lg-0 mt-3">
                        <ul class="social m-0 p-0">
                            <li><a href="https://github.com/yunusemrehardal"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="https://linkedin.com/yunusemrehardal"><span class="fa fa-linkedin-square"></span></a></li>
                            <li><a href="https://instagram.com/hardalyemre"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }</script>
        <!-- /move top -->
    </section>
    <!-- //Footer -->
    <!-- all js scripts and files here -->

    <script src="~/alexander-starter/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

    <script src="~/alexander-starter/assets/js/jquery-3.3.1.min.js"></script><!-- default jQuery -->
    <!-- /typig-text-->
    <script>
        const typedTextSpan = document.querySelector(".typed-text");
        const cursorSpan = document.querySelector(".cursor");

        const textArray = ["UI/UX Designer", "Freelancer", "Web developer"];
        const typingDelay = 200;
        const erasingDelay = 10;
        const newTextDelay = 100; // Delay between current and next text
        let textArrayIndex = 0;
        let charIndex = 0;

        function type() {
            if (charIndex < textArray[textArrayIndex].length) {
                if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
                charIndex++;
                setTimeout(type, typingDelay);
            } else {
                cursorSpan.classList.remove("typing");
                setTimeout(erase, newTextDelay);
            }
        }

        function erase() {
            if (charIndex > 0) {
                // add class 'typing' if there's none
                if (!cursorSpan.classList.contains("typing")) {
                    cursorSpan.classList.add("typing");
                }
                typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
                charIndex--;
                setTimeout(erase, erasingDelay);
            } else {
                cursorSpan.classList.remove("typing");
                textArrayIndex++;
                if (textArrayIndex >= textArray.length) textArrayIndex = 0;
                setTimeout(type, typingDelay);
            }
        }

        document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
            if (textArray.length) setTimeout(type, newTextDelay + 250);
        });</script>
    <!-- //typig-text-->
    <!-- services owlcarousel -->
    <script src="~/alexander-starter/assets/js/owl.carousel.js"></script>

    <!-- script for services -->
    <script>
        $(document).ready(function () {
            $('.owl-two').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    700: {
                        items: 1,
                        nav: false
                    },
                    1090: {
                        items: 3,
                        nav: false
                    }
                }
            })
        })</script>
    <!-- //script for services -->
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 2,
                        nav: false,
                        loop: false
                    }
                }
            })
        })</script>
    <!-- //script for tesimonials carousel slider -->
    <!-- video popup -->
    <script src="~/alexander-starter/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });</script>
    <!-- //video popup -->
    <!-- stats number counter-->
    <script src="~/alexander-starter/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/alexander-starter/assets/js/jquery.countup.js"></script>
    <script>$('.counter').countUp();</script>
    <!-- //stats number counter -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });</script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });</script>
    <!--//MENU-JS-->
    <!-- bootstrap js -->
    <script src="~/alexander-starter/assets/js/bootstrap.min.js"></script>

</body>

</html>